<!-- Sub Header -->
<div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>&nbsp;</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="index.html" class="logo">
                          <img src="https://www.uwtsd.ac.uk/media/uwtsd-website/content-assets/images/logos/uwtsd-200-year-logo-light.png" style="max-width: 100%;height: 50px;">
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" routerLink="/home" routerLinkActive="active" >Home</a></li>
                          <li class="has-sub">
                              <a href="javascript:void(0)">Admissions</a>
                              <ul class="sub-menu">
                                  <li><a href="meetings.html">Undergraduate</a></li>
                                  <li><a href="meeting-details.html">Graduate</a></li>
                                  <li><a href="meeting-details.html">Continue Education</a></li>
                              </ul>
                          </li>
                          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
                          <li class="scroll-to-section"><a href="#apply">Apply Now</a></li>
                          <li class="scroll-to-section"><a href="#courses">Courses</a></li> 
                          <li class="scroll-to-section"><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
                          <li class="scroll-to-section"><a routerLink="/login" routerLinkActive="active">SignUp</a></li>
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->
