<section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Join with UWTSD</h2>
        </div>
      </div>
    </div>
  </section>
<section class="contact-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact"  [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Login</h2>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                    <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Email" formControlName="email">
                  </fieldset>
                  <div class="alert alert-danger" *ngIf="!loginForm.get('email')?.errors?.required && (loginForm.get('email')?.errors?.pattern)">
                    Please enter a valid email address
                  </div>
                  <div class="alert alert-danger" *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) && loginForm.get('email')?.errors?.required">
                    Email is required
                  </div>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <input name="password" type="text" id="password" placeholder="Password" formControlName="password">
                      <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) && loginForm.get('password')?.errors?.required">
                        Password is required
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button"[disabled]="!loginForm.valid">Login</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
